.firstNav {
  margin-bottom: 100px;
  background-color: #F4E6C1;
  padding: 80px 50px;
  border: 2px solid #a4a4a4;
  margin-top: -2px;
  z-index: 2;
  border-top: 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}